<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Group Project 2</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="..\static\css\style.css">

  </head>
  <body>
    
 
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
        <!-- Brand/logo -->
          <a class="navbar-brand" href="index.html">Election Data</a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="vis_1.html">Visualization 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vis_2.html">Visualization 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vis_3.html">Visualization 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="bio_page.html">Bio Page</a>
          </li>
        </ul>
      </nav>
          
  
      <div class=container>
        <div class=row>
        <div class="col-md-8 col-xs-6">
            <h2 class="sub_header">
               Julie Pyle
              </h2>
            <p class="paragraph">
            Julie has been a health care practitioner for over 11 years.
            She recently started pursuing her Data Analyst Certificate
            from Case Western Reserve University in order to further
            her technological skills.  Julie hopes to incorporate her
            skills to help her health care team's business to expand.
            In her free time, Julie enjoys hiking, traveling and 
            kickboxing.  
          </p>
      
        </div>
        <div class="col-md-4 col-xs-6">
        <img width= "200" height="250" class="bio_images" src="images/julie_bio_pic.JPG" alt="Julie">
        
        </div>
        </div>
      

        <div class=row>
            <div class="col-md-8 col-xs-6">
                <h2 class="sub_header">
                    Ravi Patel
                  </h2>
              <p class="paragraph">
                Ravi has been a Sales development Manager and Customer Service 
                Specialist for over 7 years. Recently, he started pursuing 
                his Data Analyst Certification through Case Western Reserve
                University. Ravi excels in running operating systems such 
                as Salesforce, Oracle - RDBSM and P2. He is proficient in 
                his ability to train employees on how to engage in customer 
                relations, technical support, product development and 
                how to run their business.
              </p>
          
            </div>
            <div class="col-md-4 col-xs-6">
            <img width= "250" height="250" class="bio_images" src="images/ravi_pic.jpg" alt="Ravi">
            
            </div>
            </div>


            <div class=row>
                <div class="col-md-8 col-xs-6">
                    <h2 class="sub_header">
                        Jon
                      </h2>
                    <p class="paragraph">
                    Jon....
                  </p>
              
                </div>
                <div class="col-md-4 col-xs-6">
                <img class="bio_images" src="img.jpg" alt="Jon">
                
                </div>
                </div>


                <div class=row>
                    <div class="col-md-8 col-xs-6">
                      <h2 class="sub_header">
                        Olusegun Olorunfemi
                      </h2>
                        <p class="paragraph">
                        Segun has experience in the 
                        Financial Industry working in Credit, Finance and 
                        Treasury. He is an enthusiast for decision making 
                        based on data and is skilled in Python, SQL, HTML 
                        and Java Script. When he is not helping his clients 
                        making the best financial decisions or coding he is 
                        hiking or supporting his favorite sport team to victory. 
                      </p>
                  
                    </div>
                    <div class="col-md-4 col-xs-6">
                    <img height="250" width="175" class="bio_images" src="images/segs_pic.jpg" alt="Segun">
                    
                    </div>
                    </div>
        </div>
  
  

  </body>
</html>
